In [2]:
import pandas as pd
import numpy as np
print("Librerías importadas correctamente.")

Librerías importadas correctamente.

In [3]:
df_ventas = pd.read_csv('ventas.csv')
df_inventarios = pd.read_csv('inventarios.csv')
df_satisfaccion = pd.read_csv('satisfaccion.csv')

df_ventas.dropna(inplace=True)
df_inventarios.dropna(inplace=True)
df_satisfaccion.dropna(inplace=True)

print("Datos de Ventas:")
display(df_ventas.head())

print("\nDatos de Inventarios:")
display(df_inventarios.head())

print("\nDatos de Satisfacción:")
display(df_satisfaccion.head())

Datos de Ventas:

   ID_Tienda    Producto  Cantidad_Vendida  Precio_Unitario Fecha_Venta
0          1  Producto A                20              100  2023-01-05
1          1  Producto B                15              200  2023-01-06
2          2  Producto A                30              100  2023-01-07
3          2  Producto C                25              300  2023-01-08
4          3  Producto A                10              100  2023-01-09

Datos de Inventarios:

   ID_Tienda    Producto  Stock_Disponible Fecha_Actualización
0          1  Producto A                50          2023-01-05
1          1  Producto B                40          2023-01-06
2          2  Producto A                60          2023-01-07
3          2  Producto C                45          2023-01-08
4          3  Producto A                30          2023-01-09

Datos de Satisfacción:

   ID_Tienda  Satisfacción_Promedio Fecha_Evaluación
0          1                     85       2023-01-15
1          2                     90       2023-01-15
2          3                     70       2023-01-15
3          4                     65       2023-01-15
4          5                     55       2023-01-15

In [4]:
productos = df_ventas.groupby('Producto')['Cantidad_Vendida'].sum()
print(productos)

tiendas = df_ventas.groupby('ID_Tienda')['Cantidad_Vendida'].sum()
print(tiendas)

df_ventas['Ingresos'] = df_ventas['Precio_Unitario'] * df_ventas['Cantidad_Vendida']
print(df_ventas)

ingreso_tienda = df_ventas.groupby('ID_Tienda')['Ingresos'].sum()
print(ingreso_tienda)

Producto
Producto A    85
Producto B    75
Producto C    90
Name: Cantidad_Vendida, dtype: int64
ID_Tienda
1    35
2    55
3    50
4    60
5    50
Name: Cantidad_Vendida, dtype: int64
   ID_Tienda    Producto  Cantidad_Vendida  Precio_Unitario Fecha_Venta  \
0          1  Producto A                20              100  2023-01-05
1          1  Producto B                15              200  2023-01-06
2          2  Producto A                30              100  2023-01-07
3          2  Producto C                25              300  2023-01-08
4          3  Producto A                10              100  2023-01-09
5          3  Producto B                40              200  2023-01-10
6          4  Producto C                35              300  2023-01-11
7          4  Producto A                25              100  2023-01-12
8          5  Producto B                20              200  2023-01-13
9          5  Producto C                30              300  2023-01-14

   Ingresos
0      2000
1      3000
2      3000
3      7500
4      1000
5      8000
6     10500
7      2500
8      4000
9      9000
ID_Tienda
1     5000
2    10500
3     9000
4    13000
5    13000
Name: Ingresos, dtype: int64

In [5]:
estadisticas_venta = df_ventas.describe()
print(estadisticas_venta)

cantidad_media_vendida = df_ventas.groupby(['ID_Tienda', 'Producto'])['Cantidad_Vendida'].mean()
print(cantidad_media_vendida)

       ID_Tienda  Cantidad_Vendida  Precio_Unitario      Ingresos
count  10.000000         10.000000        10.000000     10.000000
mean    3.000000         25.000000       190.000000   5050.000000
std     1.490712          9.128709        87.559504   3361.960407
min     1.000000         10.000000       100.000000   1000.000000
25%     2.000000         20.000000       100.000000   2625.000000
50%     3.000000         25.000000       200.000000   3500.000000
75%     4.000000         30.000000       275.000000   7875.000000
max     5.000000         40.000000       300.000000  10500.000000
ID_Tienda  Producto
1          Producto A    20.0
           Producto B    15.0
2          Producto A    30.0
           Producto C    25.0
3          Producto A    10.0
           Producto B    40.0
4          Producto A    25.0
           Producto C    35.0
5          Producto B    20.0
           Producto C    30.0
Name: Cantidad_Vendida, dtype: float64

In [6]:
ventas_agregadas = df_ventas.groupby(['ID_Tienda', 'Producto'])['Cantidad_Vendida'].sum().reset_index()
print(ventas_agregadas)

df_combinado = pd.merge(df_inventarios, ventas_agregadas, on=['ID_Tienda', 'Producto'], how='inner')
print("\nDataFrame Combinado (Inventarios + Ventas Agregadas):")
print(df_combinado.head())

   ID_Tienda    Producto  Cantidad_Vendida
0          1  Producto A                20
1          1  Producto B                15
2          2  Producto A                30
3          2  Producto C                25
4          3  Producto A                10
5          3  Producto B                40
6          4  Producto A                25
7          4  Producto C                35
8          5  Producto B                20
9          5  Producto C                30

DataFrame Combinado (Inventarios + Ventas Agregadas):
   ID_Tienda    Producto  Stock_Disponible Fecha_Actualización  \
0          1  Producto A                50          2023-01-05
1          1  Producto B                40          2023-01-06
2          2  Producto A                60          2023-01-07
3          2  Producto C                45          2023-01-08
4          3  Producto A                30          2023-01-09

   Cantidad_Vendida
0                20
1                15
2                30
3                25
4                10

In [7]:
df_combinado['Rotacion_Inventario'] = df_combinado['Cantidad_Vendida'] / df_combinado['Stock_Disponible']
print(df_combinado)

tiendas_criticas = df_combinado[df_combinado['Rotacion_Inventario'] < 0.1]
print("\nTiendas y Productos con Rotación de Inventario Crítica (< 10%):")
print(tiendas_criticas)

   ID_Tienda    Producto  Stock_Disponible Fecha_Actualización  \
0          1  Producto A                50          2023-01-05
1          1  Producto B                40          2023-01-06
2          2  Producto A                60          2023-01-07
3          2  Producto C                45          2023-01-08
4          3  Producto A                30          2023-01-09
5          3  Producto B                80          2023-01-10
6          4  Producto C                70          2023-01-11
7          4  Producto A                50          2023-01-12
8          5  Producto B                40          2023-01-13
9          5  Producto C                60          2023-01-14

   Cantidad_Vendida  Rotacion_Inventario
0                20             0.400000
1                15             0.375000
2                30             0.500000
3                25             0.555556
4                10             0.333333
5                40             0.500000
6                35             0.500000
7                25             0.500000
8                20             0.500000
9                30             0.500000

Tiendas y Productos con Rotación de Inventario Crítica (< 10%):
Empty DataFrame
Columns: [ID_Tienda, Producto, Stock_Disponible, Fecha_Actualización, Cantidad_Vendida, Rotacion_Inventario]
Index: []

In [ ]:
df_definitivo = pd.merge(df_combinado, df_satisfaccion, on=['ID_Tienda'], how='inner')
print(df_definitivo)

tiendas_mejorables = df_definitivo[df_definitivo['Satisfacción_Promedio'] < 60]
print(tiendas_mejorables)

   ID_Tienda    Producto  Stock_Disponible Fecha_Actualización  \
0          1  Producto A                50          2023-01-05
1          1  Producto B                40          2023-01-06
2          2  Producto A                60          2023-01-07
3          2  Producto C                45          2023-01-08
4          3  Producto A                30          2023-01-09
5          3  Producto B                80          2023-01-10
6          4  Producto C                70          2023-01-11
7          4  Producto A                50          2023-01-12
8          5  Producto B                40          2023-01-13
9          5  Producto C                60          2023-01-14

   Cantidad_Vendida  Rotacion_Inventario  Satisfacción_Promedio  \
0                20             0.400000                     85
1                15             0.375000                     85
2                30             0.500000                     90
3                25             0.555556                     90
4                10             0.333333                     70
5                40             0.500000                     70
6                35             0.500000                     65
7                25             0.500000                     65
8                20             0.500000                     55
9                30             0.500000                     55

  Fecha_Evaluación
0       2023-01-15
1       2023-01-15
2       2023-01-15
3       2023-01-15
4       2023-01-15
5       2023-01-15
6       2023-01-15
7       2023-01-15
8       2023-01-15
9       2023-01-15
   ID_Tienda    Producto  Stock_Disponible Fecha_Actualización  \
8          5  Producto B                40          2023-01-13
9          5  Producto C                60          2023-01-14

   Cantidad_Vendida  Rotacion_Inventario  Satisfacción_Promedio  \
8                20                  0.5                     55
9                30                  0.5                     55

  Fecha_Evaluación
8       2023-01-15
9       2023-01-15

In [20]:
ventas_totales = df_ventas['Ingresos'].to_numpy()
print(ventas_totales)

print(np.median(ventas_totales))

print(np.std(ventas_totales))

np.random.seed(42)

proyeccion_ventas = np.random.randint(1000, 15000, 10)
print(proyeccion_ventas)

[ 2000  3000  3000  7500  1000  8000 10500  2500  4000  9000]
3500.0
3189.4356867634124
[ 8270  1860  6390 14418  6191 12964 12284  6734  7265  1466]